use egui::{
    epaint::{Color32, Shadow, Stroke},
    style::{Selection, WidgetVisuals, Widgets},
    Style, Visuals,
};

pub const BASE_00: Color32 = Color32::from_rgb({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}});
pub const BASE_01: Color32 = Color32::from_rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
pub const BASE_02: Color32 = Color32::from_rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});
pub const BASE_03: Color32 = Color32::from_rgb({{base03-rgb-r}}, {{base03-rgb-g}}, {{base03-rgb-b}});
pub const BASE_04: Color32 = Color32::from_rgb({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}});
pub const BASE_05: Color32 = Color32::from_rgb({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}});
pub const BASE_06: Color32 = Color32::from_rgb({{base06-rgb-r}}, {{base06-rgb-g}}, {{base06-rgb-b}});
pub const BASE_07: Color32 = Color32::from_rgb({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}});
pub const BASE_08: Color32 = Color32::from_rgb({{base08-rgb-r}}, {{base08-rgb-g}}, {{base08-rgb-b}});
pub const BASE_09: Color32 = Color32::from_rgb({{base09-rgb-r}}, {{base09-rgb-g}}, {{base09-rgb-b}});
pub const BASE_0A: Color32 = Color32::from_rgb({{base0A-rgb-r}}, {{base0A-rgb-g}}, {{base0A-rgb-b}});
pub const BASE_0B: Color32 = Color32::from_rgb({{base0B-rgb-r}}, {{base0B-rgb-g}}, {{base0B-rgb-b}});
pub const BASE_0C: Color32 = Color32::from_rgb({{base0C-rgb-r}}, {{base0C-rgb-g}}, {{base0C-rgb-b}});
pub const BASE_0D: Color32 = Color32::from_rgb({{base0D-rgb-r}}, {{base0D-rgb-g}}, {{base0D-rgb-b}});
pub const BASE_0E: Color32 = Color32::from_rgb({{base0E-rgb-r}}, {{base0E-rgb-g}}, {{base0E-rgb-b}});
pub const BASE_0F: Color32 = Color32::from_rgb({{base0F-rgb-r}}, {{base0F-rgb-g}}, {{base0F-rgb-b}});

pub const SHADOW: Color32 = Color32::from_rgba_premultiplied(0, 0, 0, 96);
pub const TRANSPARENT: Color32 = Color32::from_rgba_premultiplied(0, 0, 0, 0);
pub const BACKGROUND: Color32 = BASE_01;

pub fn style_from(original: Style) -> Style {
    Style {
        visuals: Visuals {
            widgets: Widgets {
                noninteractive: WidgetVisuals {
                    bg_fill: BASE_01,
                    weak_bg_fill: BASE_01,
                    bg_stroke: Stroke {
                        color: BASE_02,
                        ..original.visuals.widgets.noninteractive.bg_stroke
                    },
                    fg_stroke: Stroke {
                        color: BASE_05,
                        ..original.visuals.widgets.noninteractive.fg_stroke
                    },
                    ..original.visuals.widgets.noninteractive
                },
                inactive: WidgetVisuals {
                    bg_fill: BASE_02,
                    weak_bg_fill: BASE_02,
                    bg_stroke: Stroke {
                        color: TRANSPARENT,
                        ..original.visuals.widgets.inactive.bg_stroke
                    },
                    fg_stroke: Stroke {
                        color: BASE_05,
                        ..original.visuals.widgets.inactive.fg_stroke
                    },
                    ..original.visuals.widgets.inactive
                },
                hovered: WidgetVisuals {
                    bg_fill: BASE_02,
                    weak_bg_fill: BASE_02,
                    bg_stroke: Stroke {
                        color: BASE_03,
                        ..original.visuals.widgets.hovered.bg_stroke
                    },
                    fg_stroke: Stroke {
                        color: BASE_06,
                        ..original.visuals.widgets.hovered.fg_stroke
                    },
                    ..original.visuals.widgets.hovered
                },
                active: WidgetVisuals {
                    bg_fill: BASE_02,
                    weak_bg_fill: BASE_02,
                    bg_stroke: Stroke {
                        color: BASE_03,
                        ..original.visuals.widgets.hovered.bg_stroke
                    },
                    fg_stroke: Stroke {
                        color: BASE_06,
                        ..original.visuals.widgets.hovered.fg_stroke
                    },
                    ..original.visuals.widgets.active
                },
                open: WidgetVisuals {
                    bg_fill: BASE_01,
                    weak_bg_fill: BASE_01,
                    bg_stroke: Stroke {
                        color: BASE_02,
                        ..original.visuals.widgets.open.bg_stroke
                    },
                    fg_stroke: Stroke {
                        color: BASE_06,
                        ..original.visuals.widgets.open.fg_stroke
                    },
                    ..original.visuals.widgets.open
                },
            },
            selection: Selection {
                bg_fill: BASE_02,
                stroke: Stroke {
                    color: BASE_06,
                    ..original.visuals.selection.stroke
                },
            },
            hyperlink_color: BASE_08,
            faint_bg_color: TRANSPARENT,
            extreme_bg_color: BASE_00,
            code_bg_color: BASE_02,
            warn_fg_color: BASE_0C,
            error_fg_color: BASE_0B,
            window_shadow: Shadow {
                color: SHADOW,
                ..original.visuals.window_shadow
            },
            window_fill: BASE_01,
            window_stroke: Stroke {
                color: BASE_02,
                ..original.visuals.window_stroke
            },
            panel_fill: BASE_01,
            popup_shadow: Shadow {
                color: SHADOW,
                ..original.visuals.popup_shadow
            },
            ..original.visuals
        },
        ..original
    }
}

pub fn style() -> Style {
    style_from(Default::default())
}
